*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #AFC2D5;
}
:root{
    --primarycolor:#AFC2D5; 
    --secundarycolor:#31495E;
    --fontprimary:#F3F7F4;
    --fontsecundary:#B6CEBC;
}
h2{
    color:var(--fontprimary)
}
p{
    color:var(--fontprimary)
}

aside{
    position: relative;
}
.aside img {
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;       
    margin-right: auto;
    
  }

.aside h1{
    position: absolute;
    top: 15%;
    left: 35%;
    color: var(--fontprimary);
    font-size: 2rem;
    z-index:10 ;
}
p1{
    position: absolute;
    top: 70%;
    left: 15%;
    color: var(--fontprimary);
    font-size: 2rem;
    background-color: var(--secundarycolor);
}
h1{
    font-family: "Merriweather", serif;
}
p{
    font-family: "Roboto", sans-serif;
}
header {
	
	display: grid;
	grid-template-columns:200px    1fr auto;
	align-items: center;
	border-bottom: 1px solid #ccc;
	 padding: 20px;
    background-color: var(--secundarycolor);
}



.box a{
    display: block;
	color: var(--fontprimary);
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
    font-family: "Merriweather", serif;
}