*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primarycolor:#AFC2D5; 
    --secundarycolor:#31495E;
    --fontprimary:#F3F7F4;
    --fontsecundary:#B6CEBC;
}
h2{
    color:var(--primarycolor)
}
p{
    color: #B6CEBC;
}

aside{
    position: relative;
}
.aside img {
    display: block;
    width: 100%;
    height: auto;
    
  }

.aside h1{
    position: absolute;
    top: 15%;
    left: 35%;
    color: var(--fontprimary);
    font-size: 2rem;
    z-index:10 ;
}
p1{
    position: absolute;
    top: 70%;
    left: 15%;
    color: var(--fontprimary);
    font-size: 2rem;
    background-color: #AFC2D5;
}
h1{
    font-family: "Merriweather", serif;
}
p{
    font-family: "Roboto", sans-serif;
}