:root {

  --main-max-widht: 840px;
  --main-margin: 0 auto;

  --nav-background-color:darkblue;
  --nav-padding: 10px;
  --nav-color:white;
  --nav-link-padding: 20px;


  --footer-margen: 15px;
  --footer-borde: #555;
  --footer-padding: 5px;
}


main {
  max-width: 840px; 
  margin: 0 auto;
}

aside {
  width: 20rem; 
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); 
  padding: 15px; 
  background-color: #eee; 
  color: #333; 
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}


nav {
    background-color: var(--nav-background-color);
    padding: var(--nav-padding);
    
}
nav a {
    color:var(--nav-color);
    display: block;  
    padding:var(--nav-link-padding);
  }
  
  
  h1 {
    color: darkblue;  
  }
  
  
  main img {
    width: 150px;  
    height: auto;  
    border: 1px solid black;  
    padding: 0; 
    box-shadow: 0 0 30px gray; 
  
  }
  p {
    padding: 10px;  
  }
  footer {
    margin-top: var(--footer-margen);
    border-top: 1px solid var(--footer-borde);
    padding-top: var(--footer-padding);
    text-align: center;
  }

.note {
  font-style: italic;
  font-weight: bold;
  color: navy;
}

.editorial {
  background: rgb(255 0 0 / 0.2);
  padding: 10px;
}
section {
	width: 75vw;
	margin: 1rem auto;
	background-color: #eee;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / .1);
}

p {
	text-align: justify;
}

.col1 img {
	float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0 0 0 / .3);
	box-shadow: 0 0 30px #777;
}

