:root {

  --main-max-widht: 840px;
  --main-margin: 0 auto;

  --nav-background-color:darkblue;
  --nav-padding: 10px;
  --nav-color:white;
  --nav-link-padding: 20px;


  --footer-margen: 15px;
  --footer-borde: #555;
  --footer-padding: 5px;
}

* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}
/* selector class*/



main {
  max-width: 840px; 
  margin: 0 auto;
  
}

aside {
  width: 20rem; 
  color: #333; 
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}
aside h2{
  position:absolute;
  top: 50px;
  left: 140px;
}


nav {
    background-color: var(--nav-background-color);
    padding: var(--nav-padding);
    
}
nav a {
    color:var(--nav-color);
    display: block;  
    padding:var(--nav-link-padding);
  }
  
  
  h1 {
    color: darkblue;  
  }
  
  
  main img {
    width: 150px;  
    height: auto;  
    border: 1px solid black;  
    padding: 0; 
    box-shadow: 0 0 30px gray; 
    float: right;
    margin: 0 1rem 1rem;
    
  }
  p {
    padding: 10px;  
  }
  footer {
    margin-top: var(--footer-margen);
    border-top: 1px solid var(--footer-borde);
    padding-top: var(--footer-padding);
    text-align: center;
  }

.note {
  font-style: italic;
  font-weight: bold;
  color: navy;
}

.editorial {
  background: rgb(255 0 0 / 0.2);
  padding: 10px;
}
section {
	width: 75vw;
	
}

p {
	text-align: justify;
}

/* selector class*/

.box{
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  background-color: lightgray;
}
